.head {
    background-color: rgba(49, 3, 68, 255);
    height: 72vh;
    overflow-x: hidden;
}

body {
    margin: 0%;
}

.logotext {
    height: 60px;
    margin-left: 40px;
    margin-top: 8px;
}

#navBar {
    display: flex;
    height: 12vh;
    position: fixed;
    z-index: 9;
    background: rgba(49, 3, 68, 255);
    /*navbarywalimchtransparentkiyescroli*/
    width: 100vw;
    /*transition: 0.8s;*/
}

.panier {
    font-size: 19px;
    margin-left: 0.2vw;
    cursor: pointer;
    color: black;
}

.panier:hover {
    text-decoration: underline;
}

.chariot {
    margin-top: 8.5vh;
    cursor: pointer;
    display: flex;
    margin-right: 9vw;
    font-weight: 700;
}

.badgeShop {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #FDCD25;
    margin-top: -6px;
    font-size: 11px;
    color: black;
    margin-left: -6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.links {
    display: inline-flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 16vw;
    position: relative;
}

.mainCarousel {
    width: 100vw;
    height: 65vh;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-top: 12vh;
}

.link {
    color: white;
    font-size: 16px;
    margin: 0px 20px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.link:hover {
    text-decoration: underline;
    color: azure;
}

.paragrapheCarousel {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 4vh;
}

.h3carousel {
    font-size: 9vw;
    font-weight: 900;
    margin-bottom: 6vh;
    width: fit-content;
    margin-left: 20vw;
    margin-right: 8vw;
    color: white;
}

.h3carousel1 {
    font-size: 9vw;
    font-weight: 900;
    margin-right: 6vw;
    margin-bottom: 6vh;
    width: fit-content;
    margin-left: 6vw;
    color: white;
}

.h3carousel2 {
    font-size: 9vw;
    font-weight: 900;
    margin-bottom: 6vh;
    width: fit-content;
    margin-left: 18vw;
    margin-right: 8vw;
    color: white;
}

.intro {
    height: 60vh;
    width: 100%;
    background-color: rgba(49, 3, 68, 255);
}

.back {
    width: 100vw;
    height: 72vh;
    background-color: #FDCD25;
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-right: 20px;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.text {
    position: relative;
    flex-direction: column;
    top: 40%;
    margin-left: 40px;
}

.bemaker {
    color: white;
    font-size: 70px;
    font-weight: bolder;
    text-align: start;
}

.description {
    margin-top: 10px;
    text-align: start;
    color: white;
    width: 45%;
    font-size: 18px;
    transition: 1s;
}

.explore {
    background-color: #FDCD25;
    width: fit-content;
    padding: 12px 17px;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.explore:hover {
    background-color: #FDCD25;
    width: fit-content;
    padding: 12px 17px;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 20px;
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
    color: white;
}

.lampe {
    position: absolute;
    right: 0.1%;
    top: 8%;
    height: 60vh;
    transition: 1s;
}

#innovation {
    height: 25vh;
    position: relative;
    margin-bottom: 20px;
    transition: 1s;
}

@media (max-width: 1000px) and (min-width: 841px) {
    .lampe {
        height: 50vh;
        position: absolute;
        right: 20%;
        top: 7%;
    }
    #menuIcon {
        display: none;
    }
    .description {
        margin-top: 10px;
        color: white;
        font-size: 20px;
        width: 70%;
    }
    .link {
        color: white;
        font-size: 16px;
        margin: 0px 10px;
        cursor: pointer;
    }
    .innovation {
        height: 20vh;
        position: relative;
        left: 32%;
        margin-bottom: 40px;
    }
}

@media (min-width: 1001px) {
    #menuIcon {
        display: none;
    }
}

@media (max-width: 840px) {
    .lampe {
        height: 0vh;
    }
    .description {
        margin-top: 10px;
        color: white;
        font-size: 20px;
        width: 95%;
    }
    .innovation {
        height: 18vh;
        position: relative;
        left: 23%;
        margin-bottom: 40px;
    }
    #menuIcon {
        display: none;
    }
}

@media (max-width: 767px) {
    .explore {
        background-color: #FDCD25;
        width: fit-content;
        padding: 12px 17px;
        border-radius: 15px;
        color: white;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #menuIcon {
        color: white;
        height: 40px;
        margin-top: 20px;
        position: fixed;
        transition: 1s;
        right: 6vw;
        display: flex;
        z-index: 9;
    }
    .links {
        display: none;
    }
    .links.active {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-top: 10vh;
        padding-bottom: 2vh;
        width: 55vw;
        height: fit-content;
        background-color: rgb(59, 9, 61);
        transition: 3s;
        -webkit-transition: 3s;
        -moz-transition: 3s;
        -ms-transition: 3s;
        -o-transition: 3s;
    }
    .ground.active {
        width: 55vw;
    }
    .link.active {
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        text-align: start;
        margin-bottom: 0px;
        width: 100%;
    }
    .link:hover {
        background-color: rgb(133, 60, 133);
    }
    .bemaker {
        color: white;
        font-size: 50px;
        font-weight: bolder;
        text-align: start;
    }
    .text {
        position: relative;
        flex-direction: column;
        top: 30%;
        margin-left: 40px;
    }
    #innovation {
        height: 20vh;
        position: relative;
        margin-bottom: 20px;
        transition: 1s;
    }
    .mainCarousel {
        width: 100vw;
        height: 45vh;
        display: inline-flex;
        justify-content: center;
        text-align: center;
        margin-top: 12vh;
    }
    .paragrapheCarousel {
        font-size: 20px;
    }
    .h3carousel {
        font-size: 35px;
        font-weight: 900;
        margin-bottom: 4vh;
        width: fit-content;
        margin-left: 18vw;
        color: white;
    }
    .h3carousel1 {
        font-size: 35px;
        font-weight: 900;
        margin-bottom: 4vh;
        width: fit-content;
        margin-left: 2vw;
        margin-right: 2vw;
        color: white;
    }
    .h3carousel2 {
        font-size: 35px;
        font-weight: 900;
        margin-bottom: 4vh;
        width: fit-content;
        margin-left: 14vw;
        margin-right: 2vw;
        color: white;
    }
}

.completeLogo {
    display: flex;
    cursor: pointer;
}

.nameLogo {
    color: white;
    text-align: start;
    font-weight: 900;
    margin-top: 16px;
    margin-left: 8px;
    font-size: 15px;
}

.inlinePanel {
    display: flex;
    justify-content: space-between;
    margin-bottom: -8vh;
}