.contactForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 70vh;
    margin: 12vh 10vw;
    width: 80vw;
    box-shadow: 5px 5px 10px rgb(63, 56, 56);
}

.iconcontact {
    margin-top: 20px;
}

.contacttext {
    display: flex;
    flex-direction: column;
    padding: 5vh 0vw;
    width: 50vw;
    text-align: start;
    margin-right: 3vw;
}

.nameContact {
    margin-top: 15px;
    padding: 6px 20px;
    border-radius: 6px;
    border: none;
    width: 50vw;
    background-color: rgb(233, 227, 227);
}

.inputs {
    display: flex;
    flex-direction: column;
}

.icon {
    margin-left: 5.7vw;
    margin-top: 4vh;
}

.sendContact {
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 6vh;
    width: fit-content;
    padding: 2px 15px;
    border: none;
    background-color: rgb(73, 9, 70);
    color: white;
    font-size: 1.2vw;
    border-radius: 6px;
    cursor: pointer;
}

.hh {
    text-align: start;
}

.verticalLine {
    border: 1px solid rgb(168, 166, 166);
    width: 2px;
    height: 44vh;
    margin: 13vh 0px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid rgb(73, 9, 70);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    position: relative;
    left: 22vw;
    margin-top: 2vh;
    margin-bottom: 4vh;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.contactTitle {
    text-align: start;
    color: rgb(47, 18, 75);
    font-weight: 700;
    font-size: 1.8vw;
    margin-bottom: 1vh;
}

.contactIcons {
    display: flex;
    flex-direction: column;
    padding: 2vh 0vw 2vh 6vh;
}

@media (max-width: 767px) {
    .contactForm {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        height: fit-content;
        justify-content: center;
        margin: 4vh 0vw;
        margin-left: 5vw;
        width: 88vw;
        box-shadow: 5px 5px 10px rgb(63, 56, 56);
    }
    .verticalLine {
        display: none;
    }
    .nameContact {
        margin-top: 15px;
        padding: 6px 10px;
        border-radius: 6px;
        border: none;
        width: 70vw;
        background-color: rgb(233, 227, 227);
    }
    .contacttext {
        display: flex;
        flex-direction: column;
        padding: 5vh 0vw;
        width: 70vw;
        text-align: start;
    }
    .sendContact {
        margin-top: 4vh;
        height: 7vh;
        width: fit-content;
        padding: 2px 20px;
        border: none;
        background-color: rgb(73, 9, 70);
        color: white;
        font-size: 18px;
        border-radius: 6px;
        cursor: pointer;
    }
    .sendContact:hover {
        background-color: rgb(104, 23, 100);
    }
    .contactTitle {
        text-align: start;
        color: rgb(47, 18, 75);
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 1vh;
    }
    .xordsdesc {
        font-size: 14px;
        color: gray;
        margin-right: 10vw;
    }
    .words {
        font-weight: 600;
        margin-top: 5px;
        margin-right: 10vw;
    }
    .icon {
        margin-left: 20vw;
        margin-top: 4vh;
    }
    .contactIcons {
        display: flex;
        flex-direction: column;
        padding: 2vh 0vw 2vh 6vh;
        margin-bottom: 10vh;
    }
}